.NavBar,
.NavBarLarge {
  background-color: #ffffff;
  border: 1px solid #dadadf;
}

.NavLink .NavBarLarge {
  padding: 8px;
}

.Active i {
  color: #2ed9ff;
}

@media (min-width: 1520px) {
  .NavBar {
    display: none;
  }
}

@media (max-width: 1520px) {
  .NavBarLarge {
    display: none;
  }
}
