.App {
  font-family: "Roboto", sans-serif;
  background-color: #f8f8f8;
  min-height: 100vh;
}

.Main {
  padding-top: 81px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: #555555;
  transition: color ease-in-out 0.3s;
}

a:hover {
  text-decoration: none;
}

a:hover i {
  color: #333333;
  transition: color ease-in-out 0.3s;
}

i {
  color: #cfced3;
  font-size: 1.6rem;
  padding: 7px;
  vertical-align: middle;
}

i:hover {
  cursor: pointer;
  transition: color ease-in-out 0.3s;
  color: #333333;
}
